.wrapper {
  width: 5%;
  min-width: 10rem;
  padding-top: 2rem;
  height: 100vh - 2rem;
  background-color: rgb(var(--dark-background-color));
  box-shadow: 2px 0 10px black;
  z-index: 200;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  transition-delay: 0.3s;
}

.wrapper:hover {
  min-width: 20rem;
  width: 15%;
  transition: 0.3s;
  transition-delay: 0;
}

.element {
  color: whitesmoke;
  background-color: rgb(var(--mid-background-color));
  text-decoration: none;
  line-height: 3rem;
  border-radius: 0.25rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  transition: 0.3s;
  font-weight: bold;
}

.element:hover {
  background-color: rgb(var(--mid-background-color), 0.7);
}

.separator {
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.open-elements {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  margin-bottom: 2rem;
  overflow: auto;
}

.home-button {
  width: 90%;
  background-color: rgb(var(--highlight-color));
  line-height: 3rem;
  font-weight: bold;
  border-radius: 0.25rem;
  color: whitesmoke;
  text-decoration: none;
  margin: 0 auto;
  transition: 0.3s;
}

.home-button:hover {
  background-color: rgb(var(--highlight-color), 0.3);
}
