.wrapper {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
  padding: 1rem 0rem;
  width: 85%;
  border-radius: 0.5rem;
  background-color: rgb(var(--light-background-color));
  text-transform: capitalize;
  font-size: 1.2em;
  transition: 0.4s;
  transition-delay: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.wrapper-hover {
  border-radius: 2.5rem;
  font-size: 0em;
  transition: 0.4s;
  transition-delay: 0.4s;
}

.name {
  text-transform: capitalize;
  font-size: 1.2em;
  transition: 0.2s;

  transform: translateX(0);
}

.name-hover {
  font-size: 0em;
  transition: 0.2s;
  margin-left: 3.5rem;
}

.name::first-letter {
  font-size: 3rem;
}

.selected {
  background-color: rgb(var(--highlight-color), 0.3);
}

.wrapper:hover {
  background-color: rgb(var(--highlight-color), 0.5);
}

.exit {
  height: 1rem;
  opacity: 1;
  transition: 0.4s;
  padding: 1rem;
}

.exit-hover {
  opacity: 0;
}
