.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--mid-background-color), 0.85);
}

.button {
  width: 60%;
  font-size: 3em;
  margin: 2rem;
  padding: 1rem;
  cursor: pointer;
  background-color: rgb(var(--dark-background-color));
  border-radius: 1rem;
  text-decoration: none;
  color: aliceblue;
}

.button:hover {
  background-color: rgb(var(--dark-background-color), 0.7);
}
