.wrapper {
  height: 50vh;
  width: calc(30% - 5rem);
  background-color: rgb(var(--light-background-color));
  border-radius: 0.75rem;
  padding: 1rem 0rem;
  margin: 0 0.5rem;
}

.info-section {
  width: 100%;
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.info-predefined {
  color: whitesmoke;
  font-size: 1.1em;
}

.info-line {
  text-align: left;
  padding: 1rem;
  font-size: 1.3em;
  color: rgb(var(--highlight-color));
  font-weight: bold;
}

.separator {
  height: 2rem;
}
