.wrapper {
  height: calc(75vh - 5rem);
  width: calc(41% - 5rem);
  background-color: rgb(var(--light-background-color));
  border-radius: 0.75rem;
  padding: 2rem;
  margin: 0 0.5rem;
  transition: 0.3s;
}

.actions-wrapper {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  align-items: center;
  margin-top: 1rem;
}

.feature-list {
  width: 100%;
  height: calc(46vh - 1rem);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin-bottom: 4vh;
}

.columns {
  width: 100%;
  padding: 1rem 0;
  background-color: rgb(var(--highlight-color));
  margin: auto;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  font-size: 1.4em;
}


