.wrapper {
  position: relative;
  width: calc(100% - 4rem);
  height: 100%;
  border-radius: 0.5rem;
  background-color: rgb(var(--mid-background-color));
  padding: 2rem;
}

.list {
  height: 85%;
  width: 100%;
  overflow-y: auto;
}

.title {
  font-size: 2em;
  color: whitesmoke;
  margin-bottom: 2rem;
}

.list-names {
  width: calc(100% - 4rem);
  background-color: rgb(var(--light-background-color));
  color: whitesmoke;
  padding: 1rem 2rem;
  margin: 0.5rem 0;
  height: 2rem;
  border-radius: 0.5rem;
  transition: 0.4s;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
}

.column-name {
  color: whitesmoke;
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: bold;
  width: auto;
}

.exit {
  height: 1rem;
  padding: 0.5rem;
  filter: invert(100%);
  float: right;
  opacity: 0;
}
