.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.151);
  backdrop-filter: blur(2px);
  z-index: 900;
}

.wrapper {
  position: fixed;
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(var(--dark-background-color));
  min-width: 500px;
  padding: 2rem;
  border-radius: 0.5rem;
  z-index: 1000;
}
